.mar-t-0 {
  margin-top: 0px;
}
.mar-t-5 {
  margin-top: 5px;
}
.mar-t-10 {
  margin-top: 10px;
}
.mar-t-20 {
  margin-top: 20px;
}
.mar-t-30 {
  margin-top: 30px;
}
.mar-r-0 {
  margin-right: 0px;
}
.mar-r-5 {
  margin-right: 5px;
}
.mar-r-10 {
  margin-right: 10px;
}
.mar-r-20 {
  margin-right: 20px;
}
.mar-r-30 {
  margin-right: 30px;
}
.mar-b-0 {
  margin-bottom: 0px;
}
.mar-b-5 {
  margin-bottom: 5px;
}
.mar-b-10 {
  margin-bottom: 10px;
}
.mar-b-20 {
  margin-bottom: 20px;
}
.mar-b-30 {
  margin-bottom: 30px;
}
.mar-l-0 {
  margin-left: 0px;
}
.mar-l-5 {
  margin-left: 5px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-l-20 {
  margin-left: 20px;
}
.mar-l-30 {
  margin-left: 30px;
}
.pad-t-0 {
  padding-top: 0px;
}
.pad-t-5 {
  padding-top: 5px;
}
.pad-t-10 {
  padding-top: 10px;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-t-30 {
  padding-top: 30px;
}
.pad-r-0 {
  padding-right: 0px;
}
.pad-r-5 {
  padding-right: 5px;
}
.pad-r-10 {
  padding-right: 10px;
}
.pad-r-20 {
  padding-right: 20px;
}
.pad-r-30 {
  padding-right: 30px;
}
.pad-b-0 {
  padding-bottom: 0px;
}
.pad-b-5 {
  padding-bottom: 5px;
}
.pad-b-10 {
  padding-bottom: 10px;
}
.pad-b-20 {
  padding-bottom: 20px;
}
.pad-b-30 {
  padding-bottom: 30px;
}
.pad-l-0 {
  padding-left: 0px;
}
.pad-l-5 {
  padding-left: 5px;
}
.pad-l-10 {
  padding-left: 10px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-l-30 {
  padding-left: 30px;
}
.view-link,
.edit-link,
.delete-link {
  margin-left: 5px;
}
.edit-link {
  color: #eb9b00;
}
.delete-link {
  color: #d51a0e;
}
